[2018-07-24 12:29] jeffhostetler opened #4 "git status --deserialize can report stale results if excludes file is modified"
When changes are made to the global excludes file (defaults to "$XDG_HOME/git/excludes") or
the repo-local excludes file (".git/info/excludes"), an existing status serialization cache should be
invalidated and subsequent "git status --deserialize" should reject it and fallback to a normal
(scanning) status run.

Changes in either of these files can change the result of "git status" when there are

[2018-07-24 12:31] jeffhostetler commented on #4
See PR #1.

[2018-07-26 19:20] jeffhostetler commented on #4
Closing this now as PR #1 building.

[2018-07-26 19:20] #4 closed

[2018-07-31 20:57] wilbaker opened #13 "`git difftool -d` with Beyond Compare 4: cannot spawn .git/hooks/virtual-filesystem: No such file or directory"
- [X] I was not able to find an [open](https://github.com/git-for-windows/git/issues?q=is%3Aopen) or [closed](https://github.com/git-for-windows/git/issues?q=is%3Aclosed) issue matching what I'm seeing

### Setup

 - Which version of Git for Windows are you using? Is it 32-bit or 64-bit?

64-bit
[code]

 - Which version of Windows are you running? Vista, 7, 8, 10? Is it 32-bit or 64-bit?

64-bit W

[2018-08-20 20:00] #13 closed

[2018-09-25 16:11] wilbaker opened #25 "Untracked symlinks not reported by 'git status' when virtualization hook in use"
- [X] I was not able to find an [open](https://github.com/git-for-windows/git/issues?q=is%3Aopen) or [closed](https://github.com/git-for-windows/git/issues?q=is%3Aclosed) issue matching what I'm seeing

### Setup

 - Which version of Git for Windows are you using? Is it 32-bit or 64-bit?

[code]

 - Which version of Windows are you running? Vista, 7, 8, 10? Is it 32-bit or 64-bit?

[code]

### Det

[2018-09-26 14:28] #25 closed

[2018-10-26 23:23] wilbaker opened #63 "`git merge` reports different result on Mac and Windows"
- [X] I was not able to find an [open](https://github.com/git-for-windows/git/issues?q=is%3Aopen) or [closed](https://github.com/git-for-windows/git/issues?q=is%3Aclosed) issue matching what I'm seeing

### Setup

 - Which version of Git for Windows are you using? Is it 32-bit or 64-bit?

[code]

### Details

 - Which terminal/shell are you running Git from? e.g Bash/CMD/PowerShell/other

CMD on W

[2018-11-09 08:35] dscho commented on #63
Oh shucks. I should learn how to read. Of course it reproduces here when I use the correct branch, `dont_assert_on_file_attributes_merge_weirdness`...

The thing is, I tried to reproduce this on Linux (actually, WSL), and the behavior matches the one of your Windows run.

Sadly, I do not have easy access to a Mac right now (the only way I could try to reproduce this is by running an Azure Pipeline

[2018-11-09 09:12] dscho commented on #63
I had another hunch what the problem could be: line endings. And indeed, if I change (on Linux, where `core.autocrlf` is *not* `true`), say, `MirrorProvider/Scripts/Windows/Build.bat`, run `git status` to verify that it is modified, then revert the change manually, another `git status` will *still* show the file as modified, and the diff will show the `^M` corresponding to the Carriage Return of t

[2018-11-09 09:29] dscho commented on #63
And https://github.com/Microsoft/VFSForGit/pull/497 is my attempt to implement this.

If it causes too many problems now, I can easily wait, and update the branch once the team is ready.

[2019-01-18 11:53] dscho commented on #63
Does this happen, still?

[2019-01-18 18:30] wilbaker commented on #63
I think @kewillford was able to track down something in git he thought might be responsible.

[2019-01-23 16:00] dscho commented on #63
Should we close this here, then?

[2019-01-23 16:49] derrickstolee opened #112 "Usefulness of multi-pack-index outside of VFS for Git"
The `multi-pack-index` feature is really useful when we are in an environment with many pack-files. This is the case with VFS for Git, due to the prefetch model. Most Git environments can simply repack into one pack-file, so do not need the feature.

**Question:** Are there other environments where many pack-files occur and could use a `multi-pack-index`?

Please leave comments below if you believ

[2019-01-23 17:12] wilbaker commented on #63
That'd be fine with me.

@jrbriggs @kewillford and objections to tracking this issue in https://github.com/Microsoft/VFSForGit/issues/522?

[2019-01-23 17:15] kewillford commented on #63
That is fine with me.  I am still digging into this one.  We need a consistent repro to really get to the bottom of the issue.

[2019-02-13 18:27] audetcameron opened #118 "I have to run terminal as 'Administrator' in order to not default to /x/ with no profile"
when I load my terminal without opening it as an administrator, I'm currently not a user,  the pwd is /x/  and none of my profile aliases work.
Is there a way to set the default git bash terminal to load the same user as the "run as administrator" terminal?

[2019-02-18 20:00] dscho commented on #118
There is not; This would be a feature inherited from Git for Windows.

However, if you have trouble running Git Bash as a regular user because it does not find your home directory, please just define the environment variable `HOME` with the path of your desired home directory as value. You can do this once, and every Git Bash called after that will use that value (modulo bugs).

[2019-02-26 20:17] jeffhostetler opened #123 "Add Trace2 cmd_mode (subverb) to multi-pack-index commands"
Ultra low priority.

We should add cmd_mode definitions to multi-pack-index commands.

[2019-03-01 18:29] jamill opened #126 "git status should not fail when it is unable to open cache file"
In Microsoft/VFSForGit#663, a functional test failed to run status because git encountered an error (access denied) when reading from a status cache file.

Reading status from a cache file is a best effort operation. If the file does not exist, we fall back to computing a fresh status. The intention is that failing to read from the cache file is also a best effort, and we should not terminate if w

[2019-04-30 16:01] derrickstolee opened #177 "Git: commit-graph builtin always shows progress"
The `commit-graph` builtin show progress during its output. There is no way to turn it off right now. This means that when we have an error, `stderr` is filled with progress indicators and the actual error message may be truncated in our logging.

Update `git` to allow `--no-progress` and use this argument in the background operations.

[2019-05-10 12:35] derrickstolee opened #138 "Commit-graph: use two-dimensional graph positions"
As we build incremental commit-graph files, the idea of "graph position" is incredibly tricky to manage. It's not difficult to work with a single chain of incremental commit-graph files, but in a scenario with many alternates (for example, a fork network on a Git server) it can be beneficial to have multiple "commit-graph chains". In these chains, there can be multiple commits with the "same" grap

[2019-06-03 14:37] jeffhostetler commented on #123
this is upstream as of 2.22.

[2019-06-03 14:37] #123 closed

[2019-07-08 19:39] derrickstolee commented on #63
Closing as this seems to be fixed in M153.

[2019-07-08 19:39] #63 closed

[2019-07-31 11:49] derrickstolee opened #166 "`git log -L` is very slow"
A user reported `git log -L N,M:file` taking a long time (~7 minutes after cleaning up the object directory). The same `git log file` command was almost immediate.

Check if there are easy performance wins to reduce the computation time when using `-L`.

[2019-07-31 11:54] derrickstolee commented on #112
Closing due to inactivity.

[2019-07-31 11:54] #112 closed

[2019-08-13 13:12] derrickstolee opened #169 "Mac: tab completion doesn't work for branches"
I have a mac now! Trying to use Git on Terminal has some limitations. Specifically, I'm used to using tab-completion for branch names.

[code]

This does not appear to work on the Mac in Terminal. Is it something wrong with our install, or is the supplied tab-completion not wired correctly for Mac?

[2019-08-13 20:29] dscho commented on #169
You can find out by calling `set | less "+/^_git "`; This should show you the `_git` shell function; Here, it looks like this:

[code]

[2019-08-15 17:45] garimasi514 opened #176 "Git: commit-graph options are not fully documented."
Documentation/commit-graph.txt is missing the explanation for some options. Need to flesh that out.

[2019-08-15 19:33] wilbaker opened #173 "Post-command hooks are sometimes being called twice"
We've had reports of the post-command hook being called twice.

The current theory is:

child[3].  There's a race in run_post_command_hook() that would allow child[4]
to still be started.

[2019-08-15 19:36] wilbaker opened #174 "Access violation in git.exe when running status"
- [X] I was not able to find an [open](https://github.com/git-for-windows/git/issues?q=is%3Aopen) or [closed](https://github.com/git-for-windows/git/issues?q=is%3Aclosed) issue matching what I'm seeing

### Setup

 - Which version of Git for Windows are you using? Is it 32-bit or 64-bit?

[code]

Details on the access violation from @jeffhostetler:

[2019-08-15 19:51] derrickstolee opened #175 "Changed paths Bloom filters"
* [Supercharging the Git Commit Graph IV: Bloom Filters](https://devblogs.microsoft.com/devops/super-charging-the-git-commit-graph-iv-bloom-filters/) [_ugh... the animations are not loading... they converted the blog but broke the animated pngs_]

* [This branch in derrickstolee/git has a prototype](https://github.com/derrickstolee/git/tree/bloom/stolee)

* [This discussion on the list](https://pu

[2019-08-15 19:51] derrickstolee commented on #175
I can't seem to assign this to @garimasi514. Is there something missing with her membership to the microsoft org? Something in this specific repo? cc/ @jrbriggs

[2019-08-15 19:54] wilbaker commented on #175
@garimasi514 you might need to join https://github.com/orgs/microsoft/teams/git-for-windows-collaborators/members

[2019-08-15 19:54] derrickstolee commented on #175
I was able to find one of the animations:

![commit-graph-bloom](https://user-images.githubusercontent.com/570044/63122465-d6a8a980-bf74-11e9-8130-74df71f2ab3f.png)

[2019-08-15 19:58] garimasi514 commented on #175
@wilbaker Thanks! I have been trying to join that team for a while.. i think one of my requests went through and it won't let me request again. Maybe @jrbriggs can see my request somewhere?

[2019-08-15 20:46] derrickstolee commented on #177
I transferred this command from microsoft/vfsforgit, but we'll want to follow up there to pass the `--no-progress` argument.

[2019-08-16 12:45] jrbriggs commented on #175
@garimasi514 I've added you to the group

[2019-08-19 14:59] derrickstolee commented on #166
Some helpful progress is being made on-list: https://public-inbox.org/git/20190819130323.GU20404@szeder.dev/T/#m79ee9ae1d2696dc4c57f0d409d72949403ab84dc

Here are the results using a random path I picked out from the Windows
repo (it was only changed ~10 times in the 4.5 million commits):

[code]

For the specific file in the bug report from a real user, I got
these numbers:

[code]

When running

[2019-08-19 16:26] wilbaker opened #179 "Git: multi-pack-index builtin always shows progress"
Splitting this out as a separate issue from #177

The `multi-pack-index` builtin shows progress during its output. There is no way to turn it off right now. This means that when we have an error, stderr is filled with progress indicators and the actual error message may be truncated in our logging.

Update git to allow --no-progress and use this argument in the background operations.

[2019-08-19 16:38] derrickstolee commented on #179
Here are some hints:

You can take most of the changes from #172, but with the following replacements:

1. `builtin/multi-pack-index.c` instead of `builtin/commit-graph.c`.
2. `Documentation/git-multi-pack-index.txt` instead of `Documentation/git-commit-graph.c`
3. `t/t5319-multi-pack-index.sh` instead of `t/t5318-commit-graph.sh`

[2019-08-20 11:08] jeffhostetler commented on #173
Could also be that the post-command hook could not be launched (for example, access denied or missing dll or something).  This would cause the exec/CreateProcess to return -1 and that *could*
(I haven't checked the code yet) start shutting things down and cause the atexit() code to run.
Just a theory at this point.

[2019-08-20 19:08] derrickstolee opened #181 "read-tree: add progress indicators"
`git read-tree -mu HEAD` is the mechanism used for updating a working directory after updating a sparse-checkout file. However, there is no progress indicator for it doing the work. This can be a lot of work if the working directory grows a lot and many files need to be written.

Add a progress indicator to `git read-tree`. Don't forget:

1. to include a `--[no-]progress` option to the command lin

[2019-09-23 13:18] derrickstolee opened #198 "Sparse-checkout builtin is not atomic"
The `git sparse-checkout set` subcommand updates the `sparse-checkout` then tries a `git read-tree -mu HEAD`. If there are conflicts in the files being added or removed, then the `read-tree` will fail. However, the sparse-checkout file is still updated, which will lead to a surprise when eventually the checkout succeeds.

Make the `set` subcommand more atomic by backing up the sparse-checkout file

[2019-09-26 12:11] #181 closed

[2019-10-01 15:08] derrickstolee commented on #177
This is complete in upstream branch gs/commit-graph-progress. It is marked for merging into 'next', and likely will be part of the 2.24.0 release. It depends on two batches of code into current 'master', so merging those commits directly would cause a big diff.

Closing for now, as this requires no more work, just waiting for the next release.

[2019-10-01 15:08] #177 closed

[2019-10-01 15:09] derrickstolee commented on #138
Closing, since this is not planned for a while. Maybe not necessary.

[2019-10-01 15:09] #138 closed

[2019-10-24 12:07] #198 closed

[2019-11-08 23:15] wilbaker commented on #179
Fixed by #186

[2019-11-08 23:15] #179 closed

[2019-11-25 15:37] derrickstolee opened #224 "Sparse-checkout: respect `core.ignoreCase`"
For this issue, assume we are in "cone mode" with `core.sparseCheckoutCone` enabled.

The `git sparse-checkout set` command currently converts a list of paths into prefix patterns that will update the working directory to only include files in those folders (or adjacent to those folders). If the given patterns do not match in case, then those folders will not be included.

To resolve these case is

[2019-11-26 21:04] dscho commented on #224
Would it not make more sense to imitate the way `name-hash.c` operates, i.e. using `memihash()` (or `strihash()`?

[2019-12-23 14:34] jeffhostetler opened #230 "Add process/file lock to `gvfs-helper prefetch`"
As an optimization we could add a file lock to `gvfs-helper prefetch` to make
concurrent prefetches operate serially.

Ideally, multiple prefetches on a single repo would be hitting the same cache-server
(or origin server) and by default only ask for packs newer than the most recent one
in the shared-cache.  So both processes would probably always receive the same
set of pack and waste network ban

[2019-12-30 17:52] derrickstolee opened #234 "sparse-checkout: correct behavior on dirty status"
When running `git sparse-checkout set` with a dirty status, we have the following behavior:

1. **Upstream:** do not run. Clean status is required.
2. **Here:** Run, but possibly overwrite staged changes.

We need to allow the command to run with a dirty status, but to do the following:

* Do not run if there is a dirty status outside of the _intersection_ of the old cone and the new cone. (i.e. i

[2019-12-30 17:53] derrickstolee commented on #224
This is resolved upstream and in #233

[2020-02-04 12:10] derrickstolee opened #241 "Disable "git update" and "git update-git-for-windows" in VFS versions"
If a user runs [`git update-git-for-windows`](https://github.com/git-for-windows/build-extra/blob/master/git-extra/git-update-git-for-windows), then they will upgrade to a version that does not support microsoft/vfsforgit or microsoft/scalar.

Find a way to disable this so users do not [up/down]grade in error.

[2020-02-04 17:08] jeffhostetler opened #242 "Investigate fetch and gvfs-helper"
In https://github.com/microsoft/git/pull/240
an issue was uncovered where a `git fetch` would try to use `gvfs-helper` prefetch (to the cache-server), receive 0 new objects, and then try a `remote-https / fetch-pack` directly to the origin server.  This would fail because a gvfs-aware origin server does not allow normal fetches and requires use of the gvfs-protocol.  This server error prevented `f

[2020-02-04 18:10] dscho commented on #241
I think that's easy: just implement a dummy built-in. I'll try my hand at this, please give me a few minutes.

[2020-02-04 23:33] dscho commented on #241
Closed via #243

[2020-02-04 23:33] #241 closed, assigned to nobody

[2020-02-17 17:53] #224 closed, assigned to derrickstolee

[2020-03-24 17:33] derrickstolee commented on #234
This is being completed upstream. See git/git#724 for more. Also #252 includes some stuff around this.

[2020-04-07 18:34] #169 closed

[2020-04-09 12:12] derrickstolee commented on #166
I just realized that the following code in `revision.c` will make this always be a minimum amount of slow:

[code]

And the code in `line-log.c` for `int line_log_filter(struct rev_info *rev)` expects the commit list to be complete before scanning the contents.

So, taking stock on this problem we have a few things to think about:

1. How can Bloom filters optimally interact with `-L`?
2. Can we m

[2020-05-01 12:08] derrickstolee commented on #166
Making progress here! See gitgitgadget/git#622 for more details.

[2020-05-13 16:26] jeffhostetler opened #269 "TODO Code scan git-gvfs-helper for file handle leak"
While doing a very large Scalar clone and checkout on the Office repo I ran into an out-of-file handles error on the Mac.  `gvfs-helper` was attempting to download 445 blob packfiles  and
died after 245.

[code]

[2020-05-14 01:26] #234 closed, assigned to nobody

[2020-05-14 17:13] #126 closed

[2020-05-14 17:59] #166 closed

[2020-05-14 17:59] derrickstolee commented on #175
These are all merged to `master` upstream!

[2020-05-14 17:59] #175 closed

[2020-05-16 08:10] dscho commented on #269
Have you ever played around with DrMemory? It's similar in purpose to valgrind, but works also on Windows.

[2020-05-16 08:12] dscho commented on #269
Link: https://www.drmemory.org/

[2020-05-19 12:00] derrickstolee opened #272 "Changed-path Bloom filter follow-ups"
Here are some things to investigate:

* Write changed-path Bloom filters with config. [See this WIP](https://github.com/gitgitgadget/git/pull/633).
* Update test coverage:
  - Write `--changed-paths` in pack order.
  - Make config for 512-change limit. Test going over the limit.
* Consider batch size?
* What happens if we have changed-path filters and then `fetch.writeCommitGraph` triggers?
* Docu

[2020-05-19 16:29] derrickstolee commented on #272
Testing on the Windows OS repository with 4.25 million commits, I see:

1. `git commit-graph write --reachable` takes 2m42s and Task Manager reports ~2gb memory (this includes memory maps)
2. `git commit-graph write --reachable --changed-paths` takes 97m45s and Task Manager reports ~9gb memory. About 5gb of that memory is from parsing trees in the diff.

It is a non-starter to take over the machin

[2020-05-29 13:35] derrickstolee commented on #272
More comments were pointed out [on-list](https://lore.kernel.org/git/20200529085721.GA25128@szeder.dev/T/#u), including:

[code]

[2020-06-03 18:25] jeffhostetler opened #275 "Odd compile error with RES_STARTEND and regex.h version on MSVC build"
I think I've found a problem in the Makefile for v2.27.0.  (I haven't tracked it back to when it first appeared yet.)

Basically, when building the MSVC version (using `make MSVC=1 DEBUG=1`) I'm seeing an error

    ...
    fuzz-commit-graph.c
    C:\work\msft\git-compat-util.h(1135): fatal error C1189:
        #error:  "Git requires REG_STARTEND support. Compile with NO_REGEX=NeedsStartEnd"
    .

[2020-06-03 18:41] jeffhostetler commented on #275
https://github.com/jeffhostetler/git/commit/7533abbd04e90aa127ebdbc2b4c382793e7dc526

This the `-E` hack.  Use it with `make MSVC=1 DEBUG=1 CFLAGS="-E"`.
I'm not creating a PR for this now, since the real fix should be upstream rather than here.
And this hack could go with it.

[2020-06-03 19:53] dscho commented on #275
Where does that `-I/mingw64/include` come from? That should _not_ be there, MSVC cannot handle those headers.

[2020-06-03 20:16] jeffhostetler commented on #275
Either of these lines, I think.
https://github.com/microsoft/git/blob/vfs-2.27.0/Makefile#L1366
https://github.com/microsoft/git/blob/vfs-2.27.0/Makefile#L1379

Here's what I get when I look at curl-config:

    $ curl-config --cflags
    -I/mingw64/include

So we get that stuck into `CURL_CFLAGS` and that gets appended onto `BASIC_CFLAGS`
at https://github.com/microsoft/git/blob/vfs-2.27.0/Makefi

[2020-06-03 20:20] jeffhostetler commented on #275
So the resulting command line looks like this.  I suggest that the `-I` is coming from the
CURL block because it appears between the `HAVE_ALLOCA_H` and the `USE_CURL_FOR_IMAP_SEND` terms.

[code]

[2020-06-03 21:10] dscho commented on #275
Ah, it's most likely caused by https://github.com/git-for-windows/git/blob/v2.27.0.windows.1/Makefile#L1374.

As this was kind of intentional, maybe our best bet is to add an `if` clause before https://github.com/git-for-windows/git/blob/v2.27.0.windows.1/compat/vcbuild/scripts/clink.pl#L26 that skips `-I/mingw{32,64}/...`?

[2020-06-04 15:23] #275 closed, assigned to nobody

[2020-06-19 17:02] nikola-sh opened #278 "Git LFS version in Microsoft Git installer is much older than version in original installer"
Git for Windows installer contains [Git LFS](https://github.com/git-lfs/git-lfs).

Git LFS version for Microsoft package is much older than original Git for Windows:
- Git 2.27 use Git LFS 2.11.0
- MS Git 2.27 use Git LFS 2.7.2

[2020-06-19 18:09] derrickstolee commented on #278
I'm surprised that Git LFS is packaged at all. I thought it wasn't. I see now that I simply had not checked the correct box in the installer wizard:

![image](https://user-images.githubusercontent.com/570044/85167232-7f2f3600-b236-11ea-9f55-6359ddd7fee0.png)

Thanks for bringing this to our attention. We don't want to have users using old versions.

[2020-06-22 13:44] dscho commented on #278
I know what the problem is: we never upgraded to the newer MSYS2 Runtime. See [the logs](https://dev.azure.com/gvfs/ci/_build/results?buildId=18799&view=logs&j=00af5505-930d-50dd-3844-b167e8b4bb13&t=3ffc0b05-3b5b-52e7-d7a9-341a18b33b5d&l=17):

[code]

[2020-06-24 16:16] derrickstolee commented on #278
Fixed in v2.27.0.vfs.1.0. Thanks for the report!

[2020-06-24 16:16] #278 closed, assigned to nobody

[2020-06-25 12:39] derrickstolee opened #279 "GVFS-Helper: Fail harder on failed write?"
A build machine recently had failures in `git status` with the following logs:

[code]

However, the `git status` appears to have completed "successfully", which was confusing. Perhaps we should fail harder when the `git-gvfs-helper` has this kind of failure.

[2020-06-25 13:26] jeffhostetler commented on #279
Here are a few notes I made while digging into this.

The first line `error: gvfs-helper error:` was printed by the foreground command. (Maybe `status`.)  It is echoing the
error buffer that `gvfs-helper` sent back across the long-running subprocess pipe/socket (and received in
`gh_client__objects__receive_response()`).

[code]

After `gvfs-helper` returns an error to the client, the client calls

[2020-08-18 17:43] derrickstolee opened #287 "Sparse-checkout: recover gracefully from canceled 'set' command"
A user reported a situation like the following:

[code]

So, somehow the first command stored some state of the sparse-checkout file but did not fully succeed in downloading the blob data, and that is affecting the second command.

What confuses me is that we already have logic in the sparse-checkout builtin that should not be committing a pattern set to disk until after the working directory is u

[2020-08-19 07:00] AtOMiCNebula commented on #287
Regretfully, this was user error.  Higher-level tooling was keeping large directories in the list of paths that was being sent to `git sparse-checkout`, and I didn't realize it.  Once this was clear, the higher-order tooling was tamed, and `git sparse-checkout` did indeed return to the expected behavior (of forgetting about the no-longer-needed content). 😇

[2020-08-19 13:06] derrickstolee commented on #287
@AtOMiCNebula: Thank you for confirming! I'll close this issue, but we'll always have it to re-open if we need it.

[2020-08-19 13:06] #287 closed, assigned to derrickstolee

[2020-10-20 08:15] github-actions[bot] opened #296 "[New git version] v2.29.0"
<https://github.com/git/git/releases/tag/v2.29.0>

[2020-10-20 11:07] #296 closed, assigned to nobody

[2020-10-20 12:39] dscho commented on #296
FWIW I disabled [the "Monitor component updates" workflow](https://github.com/microsoft/git/actions?query=workflow%3A%22Monitor+component+updates%22) manually.

[2020-11-21 18:49] derrickstolee opened #299 "git-gvfs-helper: be more careful around bad prefetch packs"
A user reported an error of the form

[code]

The `.idx` file had 0 bytes, so my default thought was an `fsync()` issue.

I recommended that they delete the `.idx` and the `multi-pack-index` then run `git index-pack` on that pack file. However, that failed, as well:

[code]

This is possibly due to not catching an fsync inside `git-gvfs-helper` when the download cut short. Possibly the `index-pack

[2020-11-23 14:04] jeffhostetler commented on #299
This message is thrown from index-pack while reading the header record in the packfile.  This error
means that the first 4 bytes are not "PACK".  It also means that the file did have at least 4k of data
(just ruling out zero byte truncated packfile).

Can we get the packfile from the reporting user ??  (Not sure it's necessary if it'd be a pain; just asking.)

[2021-01-25 19:41] alexfeinman opened #309 ""vfs" in git version string breaks cmake git version parser"
- [ X ] I was not able to find an [open](https://github.com/git-for-windows/git/issues?q=is%3Aopen) or [closed](https://github.com/git-for-windows/git/issues?q=is%3Aclosed) issue matching what I'm seeing

### Setup

64-bit git on Ubuntu 18.04 64 bit

[code]

 - Which version of Windows are you running? Vista, 7, 8, 10? Is it 32-bit or 64-bit?

[code]

 - What options did you set as part of the ins

[2021-01-25 19:49] derrickstolee commented on #309
Hi @alexfeinman, I imagine that this also fails with Git for Windows, which includes `windows` in this spot? Or is there special logic in CMake to handle that option?

In general, it would be preferable if CMake could update their version parsing to allow extra arbitrary data after the first three numbers, but I'm not sure how to make that happen.

[2021-02-03 16:50] derrickstolee commented on #299
Closing as no repro until we find a need for it later.

[2021-02-03 16:50] #299 closed, assigned to jeffhostetler

[2021-02-03 16:50] #272 closed, assigned to derrickstolee

[2021-02-17 21:54] willdoescode opened #317 "Bring Back DeleteMe repo"
- [ ] I was not able to find an [open](https://github.com/git-for-windows/git/issues?q=is%3Aopen) or [closed](https://github.com/git-for-windows/git/issues?q=is%3Aclosed) issue matching what I'm seeing

### Setup

 - Which version of Git for Windows are you using? Is it 32-bit or 64-bit?

[code]

 - Which version of Windows are you running? Vista, 7, 8, 10? Is it 32-bit or 64-bit?

[code]

 - What

[2021-02-18 13:41] #317 closed, assigned to nobody

[2021-06-21 18:05] derrickstolee opened #384 "Scalar clone: make 404s on `gvfs/config` silent"
I ran `scalar clone` against a GitHub URL and saw these lines in the output:

[code]

These are likely related to the `/gvfs/config` endpoint, which doesn't exist on GitHub (and many others). This error is likely being output from Curl, but we should pass the correct option to make this be silent.

[2021-06-21 21:16] dscho commented on #384
I bet that it is both from `/gvfs/config` and `/vsts/info` (there are two messages, after all). And I think the error messages are generated here:

- https://github.com/microsoft/git/blob/v2.32.0.vfs.0.2/gvfs-helper.c#L3599
- https://github.com/microsoft/git/blob/v2.32.0.vfs.0.2/gvfs-helper.c#L3628

The work-around is most likely to guard the message behind `ec != GH__ERROR_CODE__HTTP_404`.

[2021-07-11 13:19] yash112-lang commented on #384
Hello, @derrickstolee, is this issue is still open I like to work on this issue. I am new to open source & want to contribute.

[2021-07-11 19:34] derrickstolee commented on #384
Hi @yash112-lang. Yes, this issue is still open. Please start looking at those lines that @dscho links above. Let us know if you have trouble. Thanks!

[2021-10-15 21:11] dscho opened #449 ""Permission denied" while trying to install on Windows"
**Operating System:** Windows

**OS Version:** Microsoft Windows [Version 10.0.19043.1288]

## Description
_Describe the bug: what happened? why would you consider it broken?_

Ran the Windows git installer with git 2.32.0.vfs.0.2 already installed.  During the install, hit [...]:

[code]

Unclear why there would be a permissions error here -- the config file does exist and is not read-only.  Like

[2021-10-15 21:20] dscho commented on #449
@marcelais could I bother you to clone https://github.com/git-for-windows/build-extra/ and then compile the `cmd-test.iss` I posted in https://github.com/git-for-windows/git/issues/2384#issuecomment-551555244 via `./installer/InnoSetup/ISCC.exe -o. cmd-test.iss`, then run the generated installer? We'll probably need to modify that `.iss` file quite a bit in order to figure things out, but the firs

[2021-10-15 22:43] benwitman opened #450 "git commands are slow with many calls to git_config_get_virtualfilesystem => GetEnvironmentVariableW"
- [X] I was not able to find an [open](https://github.com/git-for-windows/git/issues?q=is%3Aopen) or [closed](https://github.com/git-for-windows/git/issues?q=is%3Aclosed) issue matching what I'm seeing

### Setup

 - Which version of Git for Windows are you using? Is it 32-bit or 64-bit?

[code]

 - Which version of Windows are you running? Vista, 7, 8, 10? Is it 32-bit or 64-bit?

[code]

 - What

[2021-10-15 23:13] marcelais commented on #449
Sure... let me give that a try.

[2021-10-15 23:19] marcelais commented on #449
First it prints a message box with a git command followed by "Could set the system config correctly."

[2021-10-17 02:21] derrickstolee commented on #450
Thanks. This will be fixed with #451 and available in the 2.34 release.

[2021-10-17 19:27] #450 closed, assigned to derrickstolee

[2021-10-17 20:22] dscho commented on #449
Okay, next try. This `cmd-test.iss` is supposed to live in the `installer/` subdirectory of a `build-extra` clone, as it uses some `.iss` files directly:

[code]

I did manage to trigger an error message like you reported by misspelling the `MINGW_BITNESS` value (i.e. ensuring that the path to the `git.exe` file is invalid).

If this succeeds for you, then I have no idea what is going wrong, as th

[2021-10-18 16:39] marcelais commented on #449
Sorry.  I built that script and the generated installer also worked just fine.  :-(  I went to another dev machine that I have (which had git version 2.33.0.vfs.0.0 on it) and tried to repro with the installer I built above and by installing 2.33.0.vfs.0.2 and both succeeded without issue.

Sorry I'm not able to repro the original symptom for you again.  If you can think of anything else for me to

[2021-10-18 20:27] dscho commented on #449
I guess this could have been due to _some_ process (e.g. Defender) accessing the Git config at the exact wrong time.

[2021-10-19 19:47] derrickstolee commented on #450
This should be fixed in [`v2.33.0.vfs.0.3`](https://github.com/microsoft/git/releases/tag/v2.33.0.vfs.0.3). Please let me know if you have any issues with that release.

[2021-12-01 00:25] GuMiner opened #471 "git prevents pulling upstream due to non-existent local changes"
- [X] I was not able to find an [open](https://github.com/git-for-windows/git/issues?q=is%3Aopen) or [closed](https://github.com/git-for-windows/git/issues?q=is%3Aclosed) issue matching what I'm seeing

### Setup

 - Which version of Git for Windows are you using? Is it 32-bit or 64-bit?

[code]

 - Which version of Windows are you running? Vista, 7, 8, 10? Is it 32-bit or 64-bit?

[code]

 - What

[2021-12-01 00:26] GuMiner commented on #471
See also: This Teams thread:
https://teams.microsoft.com/l/message/19:35373490d55246638c26f7f44b23aeb0@thread.skype/1638314586080?tenantId=72f988bf-86f1-41af-91ab-2d7cd011db47&groupId=fe22c40d-26d1-4326-9e03-56f31dfcbc63&parentMessageId=1638314586080&teamName=Office%20Git%2FAzure%20DevOps%20Transition&channelName=Help%20Me!&createdTime=1638314586080

[2021-12-01 14:29] derrickstolee commented on #471
Thanks for the report, @GuMiner. Do you still have a repro?

My **guess** is that you had some files leftover from a previous change that were left by a previous Git version, and `git sparse-checkout reapply` would have fixed this for you, too.

I have added these instructions [to the release notes](https://github.com/microsoft/git/releases/tag/v2.34.0.vfs.0.0):

If we _do_ get a repro of this iss

[2021-12-01 20:29] GuMiner commented on #471
Unfortunately I no longer have a repro. However, I can confirm I did not run `git sparse-checkout reapply` after installing the new Git version.

[2021-12-04 02:33] derrickstolee commented on #471
Thanks to Mike Marcelais, we found a reproducible situation that allowed us to tackle and fix this problem. The pull request is available as #473. We intend to review, merge, and release that fix early next week. (We will discuss as a team whether we should include other fixes, such as merging 2.34.1 or #470.)

[2022-02-04 01:59] abdurraheemali opened #482 "GVFS Prefetch runs into rate limits on Azure DevOps"
- [x] I was not able to find an [open](https://github.com/git-for-windows/git/issues?q=is%3Aopen) or [closed](https://github.com/git-for-windows/git/issues?q=is%3Aclosed) issue matching what I'm seeing

<img width="1041" alt="image" src="https://user-images.githubusercontent.com/98995519/152459388-f4710101-edac-4575-9bc3-4983100d992e.png">

The global consumption limit is 200 TSTUs within a slidin

[2022-02-04 03:43] abdurraheemali commented on #482
I updated to git/2.35.1.vfs.0.0 and it works better now. Seems this was already handled by

https://github.com/microsoft/git/commit/3221f52b54378835694b3731d6a1b0093a035088#diff-c2fce35a544e22637e0311c1f6a79480f092dc07d54e3924857c6ba50b64ac68

[2022-02-05 01:47] abdurraheemali commented on #482
![image](https://user-images.githubusercontent.com/98995519/152624101-3f79ee22-c48c-40d3-beeb-dd6b820526dd.png)

Reopening since it still happens on the latest version. It would be really cool to say "I submitted a patch to git", so instead of fixing it yourself, maybe give me a hint and I'll try helping out? It seems like using this struct in the logic that determines when to call do_throttle_spi

[2022-02-05 15:05] derrickstolee commented on #482
Hi @abdurraheemali. You will need to contact Azure DevOps support to get assistance with the GVFS endpoints and their rate limits.

The general approach in the past is to set up GVFS Cache Servers (they are self-hosted instances of Azure DevOps Server configured to serve GVFS data) and in those cases you will not hit rate limits because most of the data is downloaded from servers you own.

[2022-02-05 17:08] abdurraheemali commented on #482
Thanks! We have six gvfs cache servers set up now in a couple of regions.

`<appSettings>

    <add location="USWEST" url="https://ossgvfs.redmond.corp.microsoft.com/ee6fb219f8924d029e965c16fe59c175"/>
    <add location="NORTHEUROPE" url="https://ossgvfs.europe.corp.microsoft.com/ee6fb219f8924d029e965c16fe59c175"/>
    <add location="SOUTHEASTASIA" url="https://ossgvfs.fareast.corp.microsoft.com/e

[2022-02-05 22:26] dscho commented on #482
That's an Azure DevOps question, not a Git question. Please contact your Azure DevOps support to address this.

[2022-02-06 01:36] abdurraheemali commented on #482
That's fair. I'll close this issue then. Thanks for the help again!

[2022-02-06 01:36] #482 closed, assigned to nobody

[2022-03-09 19:49] ghost opened #489 "git update-microsoft-git does not install updates"
- [ X ] I was not able to find an [open](https://github.com/git-for-windows/git/issues?q=is%3Aopen) or [closed](https://github.com/git-for-windows/git/issues?q=is%3Aclosed) issue matching what I'm seeing

### Setup

 - Which version of Git for Windows are you using? Is it 32-bit or 64-bit?

[code]

 - Which version of Windows are you running? Vista, 7, 8, 10? Is it 32-bit or 64-bit?

[code]

 - Wh

[2022-03-09 20:05] derrickstolee commented on #489
Hello, and thanks for the report.

I believe that this issue is a known one and fixed in later builds. For instance, you can try installing [v2.34.1.vfs.0.0](https://github.com/microsoft/git/releases/tag/v2.34.1.vfs.0.0) and it will both prompt daily for updates and also work with `git update-microsoft-git`. (_Edit:_ Currently, trying this will upgrade you to v2.35.1.vfs.0.0.)

[2022-03-09 20:18] ghost commented on #489
@derrickstolee Looks like you are correct. I installed 2.34.1.vfs.0.0 and then tried the `git update-microsoft-git` command again. It showed that 2.35.1.vfs.0.0 was available, prompted me to install, and installed successfully.

Thanks for the prompt response!

[2022-03-09 20:18] #489 closed, assigned to nobody

[2022-03-15 21:39] EdwinTam-MSFT opened #490 "Git reset HEAD~1 does not leave modified files in working tree"
- [ ] Git reset HEAD~1 in newer git versions does not leave modified files in working tree, files doesn't show up until additional local modifications are made

### Setup

 - Which version of Git for Windows are you using? Is it 32-bit or 64-bit?

[code]

_Edit: This user is also using VFS for Git._

 - Which version of Windows are you running? Vista, 7, 8, 10? Is it 32-bit or 64-bit?

[code]

 -

[2022-03-16 08:41] dscho commented on #490
@EdwinTam-MSFT thank you for your report!

I do have a hard time trying to reproduce it, though, especially because you did not provide any [minimal reproducer](https://stackoverflow.com/help/mcve). Could you please do that?

Here is my failed attempt at verifying that the issue actually exists (I used the PortableGit from https://github.com/microsoft/git/releases/tag/v2.35.1.vfs.0.0, running its

[2022-03-16 12:56] derrickstolee commented on #490
@dscho: one thing that appears to be missing from the issue report is that this user is using VFS for Git. I'll make a note to update the issue template to ask "Scalar or VFS for Git?"

[2022-03-16 14:56] EdwinTam-MSFT commented on #490
@dscho: I opened this issue on behalf of the original internal bug reporter. As Derrick had mentioned, our internal repo uses GVFS
Locally when I tried to repo the issue, I had the version of git and gvfs version installed from this link https://github.com/microsoft/VFSForGit/releases

I upgraded git to 2.35 using latest release here
https://github.com/microsoft/git/releases

afterwards I uninstal

[2022-03-24 20:07] derrickstolee opened #492 "Pre/post-command hooks and post-index-change hook might inherit stdin"
If a user pastes multiple commands into a terminal, they expect those commands to be run in order.

However, the later lines become part of consumed stdin, depending on the existence of a post-command hook or a post-index-change hook. This might be due to those hook implementations taking stdin in a way they shouldn't, but maybe Git shouldn't be passing stdin to these hooks in the first place.

[2022-04-04 12:58] #490 closed, assigned to derrickstolee

[2022-04-20 08:08] rimrul commented on #492
To me this issue doesn't sound like the root cause is an issue in how git handles hooks. If these multiple lines are a single paste, none of it should end up in the first commands `stdin`.

Let's say the first command is `vim`, I wouldn't expect the following lines of the paste to end up as input to the text editor either.

So if they end up in `git`s `stdin`, that already doesn't sound correct.

[2022-04-21 10:48] nikola-sh opened #497 "multi-pack-index expire doesn't do anything if --objects-dir contains backward slashes"
VFSForGit runs `PackfileMaintenanceStep` periodically, but content of `pack` subdirectory in `.gvfsCache` remains unchanged.
The reason is that `git multi-pack-index expire` command doesn't work with backward slash paths for `--object-dir` (see reproduction example below).
So VFSForGit runs `expire` with backward slashes and it doesn't do anything.
It seems git behavior should not depend on paths

[2022-04-21 14:27] derrickstolee commented on #497
Thanks, @nikola-sh. I've confirmed that VFS for Git sends the path in the format you are describing AND that the `expire` (and `repack`) commands do nothing here.

The root cause is an upstream change in how we found the existing multi-pack-index from the given `--object-dir` in a more-strict way than before.

This bug only affects VFS for Git. Scalar uses Git's background maintenance, which passe

[2022-05-04 15:50] #497 closed, assigned to derrickstolee

[2022-05-21 12:14] miku1958 opened #506 "core.autocrlf = false not working"
- [x] I was not able to find an [open](https://github.com/microsoft/git/issues?q=is%3Aopen)
        or [closed](https://github.com/microsoft/git/issues?q=is%3Aclosed) issue matching
        what I'm seeing, including in [the `git-for-windows/git` tracker](https://github.com/git-for-windows/git/issues).

### Setup

 - Which version of `microsoft/git` are you using? Is it 32-bit or 64-bit?

[code]

[2022-05-21 13:58] #506 closed, assigned to nobody

[2022-05-30 19:36] dscho commented on #492
Judging by the unfortunate regression in v2.36.0 whereby hooks are _no longer_ attached to stdio, this seems to be intended behavior.

[2022-05-31 13:16] derrickstolee commented on #492
I agree, I think this is an expected behavior and the hooks should be modified, not Git.

[2022-05-31 13:16] #492 closed, assigned to derrickstolee

[2022-06-20 20:49] ghost opened #513 "Unable to get scalar clone to use test cache-server"
- [x] I was not able to find an [open](https://github.com/microsoft/git/issues?q=is%3Aopen)
        or [closed](https://github.com/microsoft/git/issues?q=is%3Aclosed) issue matching
        what I'm seeing, including in [the `git-for-windows/git` tracker](https://github.com/git-for-windows/git/issues).

### Setup

 - Which version of `microsoft/git` are you using? Is it 32-bit or 64-bit?

[code]
A

[2022-06-20 20:53] derrickstolee commented on #513
@jeffhostetler If you get a chance, do you know if there is a special way to pass a flag to curl to allow self-signed certs? Do you know how hard it would be to add such a flag in the `gvfs-helper` layer (behind a config option)?

[2022-06-20 21:00] ghost commented on #513
This actually gave me a clue. From `git config --list`
[code]

Found this: [How to trust self-signed certificate in cURL command line?](https://unix.stackexchange.com/questions/451207/how-to-trust-self-signed-certificate-in-curl-command-line)

Will give the second answer a try.

[2022-06-21 13:33] dscho commented on #513
A better alternative might be to switch to `http.sslbackend=schannel`, which will use Secure Channel, and when you tell Windows to trust the self-signed certificate in your browser, Git (via Secure Channel) should respect that.

[2022-06-21 14:01] jeffhostetler commented on #513
Yeah, I always use schannel.

[2022-06-21 16:07] ghost commented on #513
Ill give that a shot. Tried to get the self signed cert to be happy by creating a CA, but was not having any luck. If that does not work might try passing -k to curl for a test locally. If that works maybe put it behind an option for scalar. Like --test or something?

[2022-06-22 09:34] dscho commented on #513
Even by editing `/mingw64/ssl/certs/ca-bundle.crt` directly (this is assuming that you're still using `http.sslBackend=openssl`)?

For testing, that might be fine, and there is even [a way to tell Git to _not_ verify the SSL certificate](https://git-scm.com/docs/git-config#Documentation/git-config.txt-httpsslVerify), but it is a highly-discouraged practice.

[2022-06-24 08:13] denizariyan commented on #384
Hi @derrickstolee, is this issue still open? I see that #504 is open but don't think it is actively being worked on right now.

[2022-06-24 11:29] derrickstolee commented on #384
Thanks, @denizariyan for the reminder. Is @abdurraheemali around to comment on whether they will continue with this work? @dscho supplied some recommended changes, but we're exited to see a contribution helping in this area.

[2022-06-24 15:20] abdurraheemali commented on #384
I totally forgot I had a PR open here. I'll probably continue with it today.

[2022-06-27 16:15] ghost commented on #513
As it turns out. Setting the backend to schannel works great if your under a windows based shell. Turns out I was running under mingw64/bash. schannel looks in the ca-budle.crt, and not the build in windows repository for certs. I did not add it to the /mingw64/ssl cert as that was tricky and yes, a hack. Instead just running from the windows shell worked fine as schannel used the windows cert sto

[2022-06-27 17:30] derrickstolee commented on #513
@deshaw-ms: wow, thanks for digging in so deeply here. I'd love to see that contribution if you have everything fresh in your mind.

The one thing I will say is that Git 2.37.0 is about to come out and we will switch our default branch from `vfs-2.36.1` to `vfs-2.37.0` soon. You might want to wait for the next release out of this repo before starting that contribution.

[2022-06-29 14:06] dscho commented on #513
I find it strange that there is a difference of behavior between using Git Bash or Git CMD. [The `http.schannelUseSSLCAInfo`](https://github.com/git-for-windows/git/blob/v2.37.0.windows.1/Documentation/config/http.txt#L200-L206) config setting is supposed to tell Git to ask cURL _not_ to look at that file and instead at the Windows Certificate Store. No matter from where you call `git.exe`.

So I

[2022-07-13 08:58] phoerious opened #517 "Improve documentation: Is this fork still needed for non-GVFS workflows?"
- [x] I was not able to find an [open](https://github.com/microsoft/git/issues?q=is%3Aopen)
        or [closed](https://github.com/microsoft/git/issues?q=is%3Aclosed) issue matching
        what I'm seeing, including in [the `git-for-windows/git` tracker](https://github.com/git-for-windows/git/issues).

This is a suggestion to update the description with information on whether (and why) this fork

[2022-07-13 12:58] derrickstolee commented on #517
VFS for Git is in maintenance mode, but is still actively used by the Windows OS repository. The custom logic for the GVFS protocol is critical to the Office monorepo's use of Scalar with Azure DevOps. This fork will be necessary as long as those monorepos are on Azure DevOps.

[2022-07-13 12:58] #517 closed, assigned to nobody

[2022-07-13 13:22] phoerious commented on #517
That's what I understood from the description. But does that also mean that besides the scalar CLI there is no difference between this fork and the upstream project for non-GVFS repositories? If so, then I could simply use the normal upstream git + the Scalar-created gitconfig.

[2022-07-18 17:21] AtOMiCNebula opened #519 "v2.37.x Windows installers do not appear to be codesigned correctly"
I don't get any codesigning/SmartScreen warnings when downloading+installing [Git-2.36.1.vfs.0.0-64-bit.exe](https://github.com/microsoft/git/releases/download/v2.36.1.vfs.0.0/Git-2.36.1.vfs.0.0-64-bit.exe), but I do when downloading either [Git-2.37.0.vfs.0.0-64-bit.exe](https://github.com/microsoft/git/releases/download/v2.37.0.vfs.0.0/Git-2.37.0.vfs.0.0-64-bit.exe) or [Git-2.37.1.vfs.0.0-64-bit

[2022-07-18 17:24] AtOMiCNebula commented on #519
![image](https://user-images.githubusercontent.com/922096/179567890-8658db2f-760e-40f4-907d-e9b845917982.png)

cc @dscho

[2022-07-18 17:43] derrickstolee commented on #519
@dscho and @ldennington please advise. We likely need to update a secret here in the `microsoft/git` repository and re-run the installer builds.

[2022-07-18 17:53] ldennington commented on #519
@dscho - I believe you already completed the steps to get a new certificate for Git for Windows, right?

[2022-07-21 15:51] AtOMiCNebula commented on #519
Ping? 😄

[2022-07-21 18:21] ldennington commented on #519
Sorry @AtOMiCNebula - we cannot fix this until Johannes gets back because he has the new cert. Are you seeing this issue even when you try to update with `git update-microsoft-git`?

[2022-07-21 20:29] AtOMiCNebula commented on #519
Yep, I still see the elevation dialog warning with "Publisher: Unknown" (third screenshot in my initial post) through the auto-updater.  I don't see SmartScreen errors (since that's an Edge feature).

FWIW, it is arguably a security issue that the Git auto-updater is not ensuring that the installer binaries it downloads are appropriately signed.  But, one issue at a time, I suppose. 😇

[2022-07-21 21:26] ldennington commented on #519
We discussed internally and have moved v2.37.1.vfs.0.0 back to pre-release in light of this issue, which should stop the auto-updater from prompting users who have not yet done so to upgrade. We're planning to send a notification of this decision to our Microsoft partners shortly. Thanks for raising it up @AtOMiCNebula.

[2022-07-25 13:56] dscho commented on #519
My apologies, I was on vacation. And yes, I got the new certificate already a long time ago, but forgot to update the repository secret in this here repository, sorry! This is fixed in the meantime.

[2022-07-25 17:51] AtOMiCNebula commented on #519
No worries, @dscho!  The new v2.37.1.vfs.0.1 release looks good to me. 🥳

[2022-07-25 17:51] #519 closed, assigned to nobody

[2022-08-18 07:05] Eli-Black-Work opened #527 "Broken link in Readme"
- [x] I was not able to find an [open](https://github.com/microsoft/git/issues?q=is%3Aopen)
        or [closed](https://github.com/microsoft/git/issues?q=is%3Aclosed) issue matching
        what I'm seeing, including in [the `git-for-windows/git` tracker](https://github.com/git-for-windows/git/issues).

In `Readme.md`, there's a link to [Scalar user guide](https://github.com/microsoft/git/blob/vfs

[2022-08-18 14:03] dscho commented on #527
@Bosch-Eli-Black good point. I think it should be pointing to https://github.com/microsoft/git/blob/vfs-2.37.2/contrib/scalar/docs/index.md.

[2022-08-18 21:22] #527 closed, assigned to nobody

[2022-08-19 02:34] Eli-Black-Work commented on #527
Thanks! 🙂

[2022-09-20 03:50] Eli-Black-Work opened #534 "warning: fetch normally indicates which branches had a forced update"
- [x] I was not able to find an [open](https://github.com/microsoft/git/issues?q=is%3Aopen)
        or [closed](https://github.com/microsoft/git/issues?q=is%3Aclosed) issue matching
        what I'm seeing, including in [the `git-for-windows/git` tracker](https://github.com/git-for-windows/git/issues).

### Setup

[code]

Are you using Scalar or VFS for Git?

Uuuuh... neither, I think? I'm using t

[2022-09-20 11:15] derrickstolee commented on #534
This is purposefully set as off because the time it takes to check force pushes is too expensive in large monorepos with significant commit history.

You can remove this message by running `git config --global advice.fetchShowForcedUpdates false`.

[2022-09-20 11:15] #534 closed, assigned to nobody

[2022-09-21 02:28] Eli-Black-Work commented on #534
Got it. Thanks! 🙂

[2022-10-14 09:32] miku1958 opened #538 "Xcode's Source Control issue"
Hi, I am working on the Office monorepo and we found that Xcode's Source Control(libgit2 1.3) doesn't work with microsoft/git.

But after a lot of testing I accidentally found that Xcode works as long as I use the official git(2.37.0) to run status command once, can you take a look at this and fix it? Thanks

[2022-10-14 12:56] derrickstolee commented on #538
XCode uses libgit2 as its backend instead of executing the version of `git` on your `PATH` (which is how Visual Studio does it).

Do not use any version of Git other than one from `microsoft/git` or you might have unpredictable results. Other versions do not know how to get missing objects from Azure DevOps and hence may have failures you do not expect.

Please avoid using XCode's version control

[2022-10-14 12:56] #538 closed, assigned to nobody

[2022-10-14 13:40] miku1958 commented on #538
Hi @derrickstolee , thank you for your reply.

The only useful feature of Xcode's Source Control is the diff function, which is very necessary for Office Mac developers, and others are usually used from the command line or other GUIs that use command-line git.

What I mean is, if it's possible to fix it with the official git status, maybe you can see if it can be adapted.

[2022-10-14 17:13] derrickstolee commented on #538
By running `git status` with standard Git, you probably rewrote the `.git/index` file to no longer be sparse (`microsoft/git` assumes `index.sparse=true` by default, while normal Git does not), allowing `libgit2` to understand it. The sparse index is important for performance reasons, but you could disable it with `git config index.sparse false` and that might enable XCode diffs to work. When `lib

[2022-10-14 17:25] miku1958 commented on #538
Test with removing .git/index, it did work.
Thanks for the suggestion

[2022-10-24 16:23] DannyAgMs opened #540 "Fatal error - add_item"
- [x] I was not able to find an [open](https://github.com/microsoft/git/issues?q=is%3Aopen)
        or [closed](https://github.com/microsoft/git/issues?q=is%3Aclosed) issue matching
        what I'm seeing, including in [the `git-for-windows/git` tracker](https://github.com/git-for-windows/git/issues).

### Setup

 - Which version of `microsoft/git` are you using? Is it 32-bit or 64-bit?

[code]

[2022-10-24 17:42] derrickstolee commented on #540
Hi, @DannyAgMs. Thanks for the report.

Could you repeat the `git status` command with `GIT_TRACE2_PERF=1` enabled? That should help us identify a closer location for where this failure happened.

Since the `git status` command continued after the error (and the error appears to be in `sh.exe`) it seems like the failure is due to a hook of some kind. The `GIT_TRACE2_PERF` output should show this i

[2022-11-03 21:41] aaronberger-msft opened #541 "Scalar Diagnose Issue 2.38.1.vfs.0.0"
- [x] I was not able to find an [open](https://github.com/microsoft/git/issues?q=is%3Aopen)
        or [closed](https://github.com/microsoft/git/issues?q=is%3Aclosed) issue matching
        what I'm seeing, including in [the `git-for-windows/git` tracker](https://github.com/git-for-windows/git/issues).

### Setup

 - Which version of `microsoft/git` are you using? Is it 32-bit or 64-bit?

[code]

[2022-11-07 15:57] miku1958 opened #542 ""git diff-index HEAD --" shows "bad input: " and hang"
- [x] I was not able to find an [open](https://github.com/microsoft/git/issues?q=is%3Aopen)
        or [closed](https://github.com/microsoft/git/issues?q=is%3Aclosed) issue matching
        what I'm seeing, including in [the `git-for-windows/git` tracker](https://github.com/git-for-windows/git/issues).

### Setup

 - Which version of `microsoft/git` are you using? Is it 32-bit or 64-bit?

[code]

[2022-11-07 21:34] derrickstolee commented on #542
Hi @miku1958.

It might help us determine where this is happening if you rerun the command with `GIT_TRACE2_PERF=1` so we can determine what part of the code is causing that error.

[2022-11-07 21:36] derrickstolee commented on #541
@aaronbergerM Thanks for the detailed report.

You say that old clones don't work, but new clones _do_ work. Could you do the following in each type of repo and let us know if there are any interesting differences:

1. `git config gvfs.sharedCache`
2. `cat .git/objects/info/alternates`

Thanks!

[2022-11-07 22:04] aaronberger-msft commented on #541
Sorry I should be more clear. The old and new clones both break with the specified version of microsoft/git.

With older versions of microsoft/git (2.37.1 is most recent I've validated as working),  scalar diagnose works on old and the new clone.

The current 2.38.1 version doesn't work on the new clone or the old clone of office. It does run successfully on a random non scalar/gvfs repo that I al

[2022-11-08 00:41] miku1958 commented on #542
Hi @derrickstolee, I can't repro it now, could you keep this open and I will update when I repro it?

[2022-11-08 02:36] derrickstolee commented on #542
No problem. I forget if we have a bot that will remind us when it is stale, but if that happens feel free to reopen the issue with your steps.

[2022-11-08 15:58] #541 closed, assigned to derrickstolee

[2022-11-09 14:45] derrickstolee commented on #541
@aaronbergerM this bug should be fixed in the [`v2.38.1.vfs.0.1` pre-release](https://github.com/microsoft/git/releases/tag/v2.38.1.vfs.0.1). Anyone having trouble with `scalar diagnose` should install that version from the releases page.

For now, we will keep this as a pre-release to avoid pinging all users for an upgrade.

[2022-11-09 16:40] dscho commented on #540
This symptom occasionally occurs in Git for Windows, too, and it stems from the Cygwin/MSYS2 runtime spinning up concurrently (and the concurrent instances stumbling over each other).

It seems to happen quite rarely and seems to be hard to reproduce, so I am not sure that we can do anything about this for now.

[2022-11-09 18:05] DannyAgMs commented on #540
We haven't seen any recent instances either and are unable to reproduce.

[2022-11-11 01:26] hcoona opened #544 "Question: clone without extra src directory"
`scalar clone`, unlike `git clone`, would create an extra `src` directory inside target directory. Is it possible to clone without that?

[2022-11-11 13:28] dscho commented on #544
Have you tried [the new `--no-src` option](https://github.com/microsoft/git/releases/tag/v2.38.0.vfs.0.0)?

[2022-11-11 13:32] dscho commented on #540
So let's close this for now, we can always re-open later.

[2022-11-11 13:32] #540 closed, assigned to nobody

[2022-11-11 21:10] dscho commented on #542
Personally, I would prefer to close this ticket until a time when we have more information that allows us to act on it. It's not like keeping the ticket open will magically help. And once (or: if ever?) there is more information available, it is really easy to re-open the issue.

Keeping tickets open that have no prayer of being actionable does have a price: they clutter the list of open tickets a

[2022-11-14 14:34] #544 closed, assigned to nobody

[2022-11-17 04:43] miku1958 commented on #542
I has a repo, but it happen when I run `git sparse-checkout reapply`, here is the related stack
[git.txt](https://github.com/microsoft/git/files/10027927/git.txt)

[2022-11-19 04:54] miku1958 opened #545 ""git diff-index HEAD --" take 46s+ to finish"
- [x] I was not able to find an [open](https://github.com/microsoft/git/issues?q=is%3Aopen)
        or [closed](https://github.com/microsoft/git/issues?q=is%3Aclosed) issue matching
        what I'm seeing, including in [the `git-for-windows/git` tracker](https://github.com/git-for-windows/git/issues).

### Setup

 - Which version of `microsoft/git` are you using? Is it 32-bit or 64-bit?

[code]

[2022-11-19 07:16] miku1958 opened #546 ""git log" takes too much time than I think"
- [x] I was not able to find an [open](https://github.com/microsoft/git/issues?q=is%3Aopen)
        or [closed](https://github.com/microsoft/git/issues?q=is%3Aclosed) issue matching
        what I'm seeing, including in [the `git-for-windows/git` tracker](https://github.com/git-for-windows/git/issues).

### Setup

 - Which version of `microsoft/git` are you using? Is it 32-bit or 64-bit?

[code]

[2022-11-19 08:07] miku1958 opened #547 "git rebase keep repeating same commands"
- [x] I was not able to find an [open](https://github.com/microsoft/git/issues?q=is%3Aopen)
        or [closed](https://github.com/microsoft/git/issues?q=is%3Aclosed) issue matching
        what I'm seeing, including in [the `git-for-windows/git` tracker](https://github.com/git-for-windows/git/issues).

### Setup

 - Which version of `microsoft/git` are you using? Is it 32-bit or 64-bit?

[code]

[2022-11-21 17:31] YehezkelShB opened #548 ""local push" (updating a branch without switching to it) hangs with scalar"
To fast-forward a local branch to its remote status without switching to it (reducing the checkout time and not triggering unrequired fetching), the best way is using `git push . origin/main:main`, for example. This is safer than just `git branch -f main origin/main` or `git fetch . origin/main:main` as it stops in case of non fast forward update. Unfortunately, while this method works correctly o

[2022-11-22 15:28] ThomasFWise opened #549 ""git log" hangs when resizing cmd.exe window"
- [ ] I was not able to find an [open](https://github.com/microsoft/git/issues?q=is%3Aopen)
        or [closed](https://github.com/microsoft/git/issues?q=is%3Aclosed) issue matching
        what I'm seeing, including in [the `git-for-windows/git` tracker](https://github.com/git-for-windows/git/issues).

### Setup

 - Which version of `microsoft/git` are you using? Is it 32-bit or 64-bit?

[code]

[2022-11-23 16:15] dscho commented on #549
This sounds like it refers to the same underlying bug as https://github.com/git-for-windows/git/issues/4060, and that in turn looks like it is a bug in the Cygwin/MSYS2 runtime. I asked the reporter in the ticket to report it to Cygwin, we will hopefully get some results soon. Alternatively, feel free to reproduce the problem using [Cygwin](https://cygwin.com/) and then [report the bug there](http

[2022-11-29 05:04] miku1958 commented on #542
I repro it and it is running this

I take some search and use
[code]
to fix it

But even without this error, this command still cost me 1mins to finish
[code]

[2022-11-29 07:04] miku1958 commented on #542
I copied .scalarCache from someone else, it only took him 5 seconds to run the command on his M1 Mac, and then it only took me 15 seconds to finish using his run command (mine is an Intel Mac), so I guess there's something wrong with my .scalarCache?

[2022-11-29 14:11] derrickstolee commented on #542
@miku1958 I'm not sure what the `.scalarCache` would have to do with this, except maybe theirs was a bit better maintained compared to yours.

Looking at the key problem for you, I see this in your logs:

[code]

This means that the command is spending the majority of its time expanding the sparse index into a full one. Your performance will always be a bit slow until `git diff-index` is integrate

[2022-11-29 14:22] derrickstolee commented on #546
If `--topo-order` is taking so long, then it probably means that you don't have a `commit-graph` file, or it is out of date.

Please run `scalar reconfigure` in your repository, or `scalar reconfigure --all` to be sure that background maintenance is properly running in your repository or repositories. You can also run `git maintenance run --task=commit-graph` to get an up-to-date `commit-graph` fi

[2022-11-29 14:28] derrickstolee commented on #547
Are you sure that the commands are identical, including the object ID listed that `gvfs-helper-client` is fetching? The command is downloading missing objects as needed. Please see the other issue I mentioned where you appear to be having issues with your `.scalarCache` and perhaps background maintenance not keeping objects that you need. You mention in another issue that you replaced your `.scala

[2022-11-29 14:28] #547 closed, assigned to nobody

[2022-11-29 14:29] derrickstolee commented on #545
This is essentially a duplicate of #542. Closing.

[2022-11-29 14:29] #545 closed, assigned to nobody

[2022-11-29 14:36] derrickstolee commented on #548
While I agree that this is confusing and not ideal, I think the fix here is to instead use `git branch -f main origin/main` to update local branches.

[2022-11-29 14:36] #548 closed, assigned to nobody

[2022-11-29 14:51] YehezkelShB commented on #548
As I mentioned, this isn't the same from safety perspective. But I understand if this bug is below the bar to get fixed

[2022-11-30 02:40] miku1958 commented on #546
Thanks @derrickstolee, let me try

[2022-11-30 02:43] miku1958 commented on #542
Hi @derrickstolee, this command is used in the Fork GUI when I amend commit, It looks like it uses diff-index to get which files have been modified in the last commit

[2022-11-30 02:58] miku1958 opened #551 "Multi-threaded support for label:objects/get from gvfs-helper"
I found in this [issue](https://github.com/microsoft/git/issues/542#issuecomment-1330173967) that my ScalarSache seems to be broken, my ScalarSache is close to 60G, so I want to delete it and rebuild it, but the process is very slow, most of the time is re-fetching objects, it only use single thread to do the job. Is it possible to increase this number of simultaneous fetches to higher?

This is t

[2022-11-30 14:14] derrickstolee commented on #542
Thanks for the context. We generally do not prioritize compatibility with third-party GUI tools, but the work to integrate `git diff-index` with the sparse index _might_ be small enough to justify putting this on our backlog. I've made an internal note for us to prioritize this work appropriately.

[2022-11-30 14:16] derrickstolee commented on #551
If you have deleted your shared object cache, then the first thing you should do to repopulate it is run `git fetch`. This will download precomputed packs full of commits and trees to minimize the number of single-object requests that you need for other Git commands.

[2022-11-30 14:16] #551 closed, assigned to nobody